._laufvogel .previewEditor {
    position: relative;
    margin-bottom: 10px;
    display: block;
}

._laufvogel .previewEditor .CodeMirror {
    height: auto;
    min-height: 37px;
    background-color: #eee;
}
._laufvogel .previewEditor .previewButton {
    position: absolute;
    border-radius: 4px;
    width: 50px;
    height: 27px;
    right: 5px;
    bottom: 5px;
    padding-left: 7px;
    padding-top: 5px;
    color: #ffffff;
    z-index: 20;
    box-sizing: border-box;
    background-color: #1334a1;
    font-family: Arial;
}

._laufvogel .previewEditor .previewButton:hover {
    background-color: #0f1f6e;
}

._laufvogel .previewFrame {
    height: 100%;
    width: 100%;
    border: none;
}

._laufvogel .frameParent {
    height: 0px;
    width: 600px;
    transition: height .2s linear;
}

._laufvogel .frameParent.shownLaufvogelPreview {
    height: 210px;
}

